%title= "#{GhPreview::Config::NAME}"
%script{ type: 'text/javascript', src: 'https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.js' }
%script{ type: 'text/javascript', src: 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js' }
%link{ type: 'text/css', rel: 'stylesheet', href: 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css' }
%link{ type: 'text/css', rel: 'stylesheet', href: '/stylesheets/github-markdown.css' }
%link{ type: 'text/css', rel: 'stylesheet', href: '/stylesheets/application.css' }
%style{ type: 'text/css' }= Pygments.css(style: 'trac')
